
/*common overrides  -----------------------------------*/


html,body {
  height: 100%; margin: 0px; padding: 0px; }

#navbar {
  margin-bottom:0; }

.alert {
  border-radius: 0; }

.container {
  width:100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

.col-xs-1, .col-sm-1, .col-md-1, .col-sm-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-sm-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-sm-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-sm-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-sm-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-sm-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-sm-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-sm-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-sm-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-sm-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-sm-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-sm-12 {
  position: relative;
  height:100%;
  min-height: 1px;
  padding-right: 10;
  padding-left: 0; }

.row {
  margin-right: 10;
  margin-left: 0; }

.footer {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-top: none; }

/*.panel {
  border:none; }
*/

/* End of override  -------------------------------------- */


.container-body {
    position: relative;
    margin-top: 105px;
    margin-left: 20%;
    width: 60%;
    padding-top: 35px;
    z-index: 3;
}

.container-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.navbar-orange {
    background-color: #e65c00;
    color: #838487;
    height: 95px;
    border-bottom: 5px solid #424242;
}

.navbar-orange .navbar-toggle {
    border-color: transparent;
    color: #fff;
}

.navbar-orange .navbar-nav > li > a {
    color: #fff;
    text-decoration: none;
}

.navbar-orange .navbar-nav > li > a:hover, .navbar-orange .navbar-nav > li > a:focus
{
    color:#000;
    background-color: #ff944d;
}

.navbar-orange .icon-bar {
    background-color: #fff;
    height: 4px;
}

.navbar-orange-items {
    position:relative;
    margin-left: 51.5%;
    margin-top: 45px;
}

.navbar-black {
    background-color: #424242;
    border-color: #424242;
}

.navbar-black .navbar-nav >li > a:hover {
    background-color: #a6a6a6;
    border-color: #424242;
}

.navbar-black .navbar-nav > li > a {
    color: #fff;
    text-decoration: none;
}

.navbar-black-items {
    margin-right: 22%;
}

.navbar-black .navbar-toggle {
    border-color: transparent;
    color: #838487;
}

.navbar-black .icon-bar {
    background-color: #838487;
    height: 4px;
}

.logo {
    position: absolute;
    top: 0px;
    left: 15px;
    height: 40px;
    margin-left: 20%;
    float:left;
}

.navbar-toggle {
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .logo {
        height: auto; /*or whatever height you want it*/

    }
    .navbar-orange {
        margin-bottom: 0px;
    }
    .navbar-orange >p {
        max-width: 500px;
    }

}
